<ion-header class="ion-no-border custom-header">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
  
    <div class="header-content">
      <strong>CONFIGURACIÓN</strong>
      <div class="rapidito"> R A P I D I T O </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>Card 1</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Card 2</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Card 3</ion-card-content>
  </ion-card>
  
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>
</ion-content>
