<ion-header class="ion-no-border custom-header">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
  
    <strong>RECUPERAR CONTRASEÑA</strong>
    <div class="rapidito"> R A P I D I T O </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="d-flex-center">
  <ion-card class="content-card">
    <ion-card-content class="centered-content">
      <div class="ion-text-center">
        <div class="image-container">
          <img src="assets/img/iconoP.jpg" alt="Logo de la aplicación" class="logo-image">
        </div>
        <ion-text>
          <h1><strong>RAPIDITO</strong>app</h1>
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-button expand="block" color="tertiary" (click)="sendResetCode()">Enviar Código</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
